.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.track-view .material-list ul {
  list-style: none
}

.track-view .material-list ul li img, 
.track-view .material-list ul li i{
  width: 30px;
  height: 30px;
}


.track-view .material-list ul li {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 3px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  float: right;
  margin-left: 10px;
}
